.center {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  height: 100vh;
}

.box {
  width: 250px;
  height: 200px;

  margin: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.8rem;
  color: #f8f4ea;
  background-color: #227c70;
  transition: all 2s;
}

#translate:hover {
  transform: translate(400px, 200px);
}

#scale:hover {
  transform: scale(1.25);
}
#rotate:hover {
  /* transform: rotate(90deg); */
  /* transform: rotate(1turn); */
  transform: rotate(400grad); /*One complete turn = 400grad*/
}

#transformOrigin {
  transform-origin: top;
}
#transformOrigin:hover {
  transform: rotate(45deg);
}

#skew:hover {
  transform: skew(10deg, 10deg);
}
